<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body class="mx-auto container">
        <%- include("../partials/nav.ejs") %>
            <div class="py-5 space-y-2 shadow-sm mx-8 p-7 rounded-xl flex justify-between items-center">
                <div>
                    <h3 class="text-2xl font-semibold">
                        <%= blog?.title %>
                    </h3>
                    <p class="text-lg font-light max-w-xl">
                        <%= blog?.body %>
                    </p>
                </div>
                <button class="text-sm font-medium bg-red-500 text-white rounded-lg p-3 delete" data-doc=<%=blog?._id %>>
                    DELETE
                </button>
            </div>
            <%- include("../partials/footer.ejs") %>

                <script>
                    const deleteBtn = document.querySelector(".delete")
                    const id = deleteBtn.dataset.doc
                    const handleClick = () => {
                        fetch(`/blogs/${id}`, {
                            method: "DELETE"
                        })
                            .then((res) => res.json())
                            .then((data) => window.location.href = data.redirect)
                            .catch((err) => console.log(err))
                    }
                    deleteBtn.addEventListener("click", () => handleClick())
                </script>
    </body>

</html>