<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body class="mx-auto container">
    <%- include("../partials/nav.ejs") %>

            <% if(result.length> 0){ %>
                <% result.map((blog)=>{ %>
                    <div class="m-10 shadow-md p-5 cursor-pointer rounded-xl">
                        <a href="/blog/<%= blog._id %>" class="">
                        <h3 class="text-2xl font-semibold">
                            <%= blog.title %>
                        </h3>
                        <p class="text-lg font-light">
                            <%= blog.snippet %>
                        </p>
                        </a>
                    </div>
                    <% })%>
                <% }%>
        <%- include("../partials/footer.ejs") %>
    </body>

</html>